table, caption, tbody, tfoot, thead, tr, th, td { 
    margin: 0; 
    padding: 0.25; 
    border: 1px ; 
    font-size: 100%; 
    font: inherit; 
    vertical-align: baseline; 
  } 
  
    table { 
    border-collapse: separate; 
    width: 100%;
    
  }

    .blue th {
        background: #301FCF;
        color: white;
      }

      th {
        background: white;
        position: sticky;
        top: 0; 
        box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
      }

      tbody td:hover { 
        background: yellow; 
      }
